{% load static %}
<html lang="en">
<head>
    <title>Abhishek's Portfolio</title>
    <link href="{% static 'index/style.css' %}" rel='stylesheet'  >
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

</head>

<body>
    <!--    Navigation Div      -->
    <div class="topnav">
        <a class="active" href="#home">Abhishek Yadav</a>
        <ul class="list">
            <li><a href="#contact">Contact</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#home">Home</a></li>
        </ul>
    </div>

    <!--    Home Content Area   -->
    <div class="home_content_area">
        <div class="home_content">
            <h1>Hi! I am Abhishek Yadav</h1>
        </div>
    </div>

    <!--    Skills section      -->
    <div class="skills_content_area">
        <div class="skills_content">
            <h3>Technologies</h3>

            <ul class="image_list">
                <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" /></li>
                <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" /></li>
                <li><img src="https://kanakmi.github.io/assets/img/js.png"></li>
                <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg" /></li>
                <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" /></li>
                <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" /></li>
                <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-plain.svg" /></li>
                <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/googlecloud/googlecloud-original.svg" /></li>
                <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" /></li>
            </ul>

        </div>
    </div>
</body>

</html>